ConsumerService/Connected Services/TaxesManagerService/TaxesManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52816/TaxesManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProducerService.Models" />
  <xs:import schemaLocation="http://localhost:52816/TaxesManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="municipality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTaxResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduledTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProducerService.Models" minOccurs="0" name="newRecord" nillable="true" type="q1:TaxModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduledTaxResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>