ConsumerService/Connected Services/TaxesManagerService/TaxesManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProducerService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProducerService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaxModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Municipality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeriodStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tax" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxModel" nillable="true" type="tns:TaxModel" />
</xs:schema>