ConsumerApplication/Connected Services/TaxesManagerService/TaxesManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaxesManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52816/TaxesManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52816/TaxesManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52816/TaxesManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProducerService.Models" />
      <xsd:import schemaLocation="http://localhost:52816/TaxesManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaxesManagerService_GetTax_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTax" />
  </wsdl:message>
  <wsdl:message name="ITaxesManagerService_GetTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaxResponse" />
  </wsdl:message>
  <wsdl:message name="ITaxesManagerService_InsertScheduledTax_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduledTax" />
  </wsdl:message>
  <wsdl:message name="ITaxesManagerService_InsertScheduledTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduledTaxResponse" />
  </wsdl:message>
  <wsdl:message name="FileUploadModel">
    <wsdl:part name="parameters" element="tns:FileUploadModel" />
  </wsdl:message>
  <wsdl:message name="ITaxesManagerService_UploadMunicipalitiesDataJson_OutputMessage" />
  <wsdl:message name="ITaxesManagerService_ClearTaxData_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearTaxData" />
  </wsdl:message>
  <wsdl:message name="ITaxesManagerService_ClearTaxData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearTaxDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaxesManagerService">
    <wsdl:operation name="GetTax">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaxesManagerService/GetTax" message="tns:ITaxesManagerService_GetTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaxesManagerService/GetTaxResponse" message="tns:ITaxesManagerService_GetTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertScheduledTax">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaxesManagerService/InsertScheduledTax" message="tns:ITaxesManagerService_InsertScheduledTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaxesManagerService/InsertScheduledTaxResponse" message="tns:ITaxesManagerService_InsertScheduledTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadMunicipalitiesDataJson">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaxesManagerService/UploadMunicipalitiesDataJson" name="FileUploadModel" message="tns:FileUploadModel" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaxesManagerService/UploadMunicipalitiesDataJsonResponse" message="tns:ITaxesManagerService_UploadMunicipalitiesDataJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearTaxData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaxesManagerService/ClearTaxData" message="tns:ITaxesManagerService_ClearTaxData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaxesManagerService/ClearTaxDataResponse" message="tns:ITaxesManagerService_ClearTaxData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITaxesManagerService" type="tns:ITaxesManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTax">
      <soap:operation soapAction="http://tempuri.org/ITaxesManagerService/GetTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScheduledTax">
      <soap:operation soapAction="http://tempuri.org/ITaxesManagerService/InsertScheduledTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMunicipalitiesDataJson">
      <soap:operation soapAction="http://tempuri.org/ITaxesManagerService/UploadMunicipalitiesDataJson" style="document" />
      <wsdl:input name="FileUploadModel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTaxData">
      <soap:operation soapAction="http://tempuri.org/ITaxesManagerService/ClearTaxData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaxesManagerService">
    <wsdl:port name="BasicHttpBinding_ITaxesManagerService" binding="tns:BasicHttpBinding_ITaxesManagerService">
      <soap:address location="http://localhost:52816/TaxesManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>